.table {
  width: 40%; /* Exemple : ajustez selon les besoins de votre mise en page */
  border-collapse: collapse;
  margin-left: 13%;
  border-spacing: 0;

}

.table td, .table th {
  padding: 5px; /* Réduction du padding pour compacter les cellules */
  font-size: 13px; /* Optionnel: réduire la taille de police pour économiser de l'espace */
    margin: 0; /* Les marges doivent être nulles */
}

.cellRed {
  background-color: #ad4545;
  color: white;
}

.cellGreen {
  background-color: #87c98a; 
  color: white;
}

.cellDefault {
  background-color: white;
  color: black;
}



.headerCell {
  border: 1px solid #6d6262;
  border-radius: 8px;
  background-color: #f2f2f2; 
  white-space: nowrap;

}

.headerRowSpan {
  border: 1px solid #6d6262;
    border-radius: 5px; 
  /* padding: 5px; */
  text-align: center;
  vertical-align: middle;
  white-space: nowrap; 
  font-weight: bold;
}


.rowSpanCell {
  font-weight: bold;
  background-color: #f9f9f9; 
  border: 1px solid #6d6262;
    border-radius: 8px;
  text-align: center;
  vertical-align: middle; 
  /* padding: 15px;  */
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  white-space: nowrap; }


.clickable-paragraph {
    cursor: pointer;
    position: relative;
}

.align-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: blue; /* Couleur de la ligne */
    display: none; /* La ligne est initialement masquée */
}
ul {
  padding: 0;
}

li {
  list-style-type: none;
  cursor: pointer;
}

.strikethrough {
  text-decoration: line-through;
}
.clues {
  margin-top: 30px;
}
.submit {
  background-color: #5c615c; /* Couleur de fond */
  color: white; /* Couleur du texte */
  padding: 15px 32px; /* Padding */
  text-align: center; /* Alignement du texte */
  text-decoration: none; /* Pas de soulignement */
  display: inline-block; /* Type d'affichage */
  font-size: 16px; /* Taille de la police */
  margin: 4px 2px; /* Marge autour du bouton */
  cursor: pointer; /* Curseur en forme de main */
  border: none; /* Pas de bordure */
  border-radius: 8px; /* Bordures arrondies */
}

.conteneur-bouton {
  text-align: center; /* Centrer le bouton */
  margin-top: 20px; /* Espace au-dessus du bouton */
  bottom: 0; /* Aligner au bas */
}


h1 {
  font-size: 30px; /* Grande taille pour le titre */
  color: #212529; /* Couleur sombre pour le titre */
  margin-bottom: 0.5em; /* Espacement après le titre */
}

p , .clues {
  font-size: 20px; /* Taille de police augmentée pour le paragraphe */
  color: #212529; /* Couleur sombre pour le paragraphe */
  line-height: 1.5; /* Espacement des lignes pour une meilleure lisibilité */
}

.vertical-header {
  padding: 0; /* ajustez ou supprimez le padding selon vos besoins */
  transform: rotate(180deg); /* retourne le texte pour qu'il soit lisible de gauche à droite */
  white-space: nowrap;
  border: 1px solid #6d6262;
  writing-mode: vertical-lr; /* oriente le texte de haut en bas */

  width: 25px; /* Réduit la largeur de la cellule si elle est vide */
}