.table {
  width: 40%; 
  border-collapse: collapse;
  margin-top: 50px;
  border-spacing: 0;
  flex: 1
  

}
.title {
  font-size: 28px; 
  font-family: Arial, sans-serif; 
  color: #333; 
  text-align: center; 
  background-color: #F2F2F2; 
  padding: 10px; 
  border: 2px solid #666;
  border-radius: 10px;
}
.table td, .table th {
  padding: 5px; 
  font-size: 13px; 
}

.cellRed {
  background-color: #ad4545;
  color: white;
}

.cellGreen {
  background-color: #87c98a; 
  color: white;
}

.cellDefault {
  background-color: white;
  color: black;
}

.container {
  display: flex; 
}

.headerCell {
  border: 1px solid #6d6262;
  border-radius: 8px;
  background-color: #f2f2f2; 
  white-space: nowrap;

}

.headerRowSpan {
  border: 1px solid #6d6262;
    border-radius: 5px; 
  text-align: center;
  vertical-align: middle;
  white-space: nowrap; 
  font-weight: bold;
}


.rowSpanCell {
  font-weight: bold;
  background-color: #f9f9f9; 
  border: 1px solid #6d6262;
    border-radius: 8px;
  text-align: center;
  vertical-align: middle; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  white-space: nowrap; }


.clickable-paragraph {
    cursor: pointer;
    position: relative;
}

.align-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: blue; 
    display: none; 
}
ul {
  padding: 0;
}

li {
  list-style-type: none;
  cursor: pointer;
}

.strikethrough {
  text-decoration: line-through;
}
.clues {
  margin-top: 50px;
  flex: 1

}
.submit {
  background-color: #4f7a51; 
  color: white; 
  padding: 15px 32px; 
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer; 
  border: none; 
  border-radius: 5px; 
}
button.submit:disabled {
  
  background-color: #ccc;
  color: #666; 
  cursor: not-allowed; 
  border: 1px solid #999; 
}

.conteneur-bouton {
  text-align: center; 
  margin-top: 20px; 
  bottom: 0; 
}


h1 {
  font-size: 30px; 
  color: #212529; 
  margin-bottom: 0.5em; 
}

p , .clues {
  font-size: 18px; 
  color: #212529; 
  line-height: 2;
  margin-left: 40px;
}
p {
  margin: 20px ;
}
.vertical-header {
  padding: 0; 
  transform: rotate(180deg); 
  white-space: nowrap;
  border: 1px solid #6d6262;
  writing-mode: vertical-lr; 
  width: 25px; 
}