.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.half-page {
  width: 50%;
}

.people-list, .constraints-list {
  padding: 20px;
  box-sizing: border-box;
}

.list-item {
  margin-bottom: 10px;
}

.submit-button {
  display: block;
  margin-bottom: 10px;
}

.titlePerso {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
}
.associations-table {
  width: 100%;
  margin-top: 20px;
}

