.tableContainer {
  margin-left: 200px;
  justify-content: center;
  align-items: center;
  width: 100%; /* Réduction supplémentaire de la largeur pour un aspect plus compact */
  margin-bottom: 30px;
}

.title {
  font-size: 28px; /* Taille de la police */
  font-family: Arial, sans-serif; /* Police de caractères */
  color: #333; /* Couleur du texte */
  text-align: center; /* Alignement du texte */
  background-color: #F2F2F2; /* Couleur de fond */
  padding: 10px; /* Espace intérieur du titre */
  border: 2px solid #666; /* Bordure */
  border-radius: 10px; /* Coins arrondis */
}
.tableZebre {
  margin-top: 80px;
  width: 80%; /* Réduction supplémentaire de la largeur pour un aspect plus compact */
  border-collapse: collapse;
}

.col, .th {
  text-align: center;
  padding: 4px; /* Réduction du padding pour diminuer l'espace */
  font-size: 18px; /* Réduction de la taille du texte pour un aspect plus compact */
}

.th {
  background-color: #f0f0f0;
}


tr:nth-child(even) {
  background-color: #f9f9f9; 
}
.selectTable {
  border: 1px solid #ccc;
  padding: 2px; /* Réduction du padding */
  background-color: white;
  width: 50%; /* Réduction de la largeur pour un aspect plus compact */
  margin: auto;
}



h1 {
  font-size: 24px; /* Taille réduite pour le titre */
}

p, .clues {
  font-size: 18px; /* Taille de police augmentée pour le paragraphe */
  color: #212529; /* Couleur sombre pour le paragraphe */
  line-height: 2; /* Espacement des lignes pour une meilleure lisibilité */
  margin-left: 40px;
}

td, th {
  font-size: 16px; /* Taille réduite pour le texte dans les cellules */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Crée deux colonnes de largeur égale */
  gap: 10px; /* Espacement entre les colonnes et les lignes */
  align-items: start; /* Alignement des éléments en début de chaque cellule de grille */
  justify-items: start; /* Alignement horizontal des éléments de grille */
  align-items: start; /* Alignement vertical des éléments de grille */
  font-size: 16px;

}

li.strikethrough {
  text-decoration: line-through;
}
.title {
  font-size: 24px; /* Taille de la police */
  font-family: Arial, sans-serif; /* Police de caractères */
  color: #333; /* Couleur du texte */
  text-align: center; /* Alignement du texte */
  background-color: #F2F2F2; /* Couleur de fond */
  padding: 10px; /* Espace intérieur du titre */
  border: 2px solid #666; /* Bordure */
  border-radius: 10px; /* Coins arrondis */
}
.submitZebre {
  background-color: #79aa79; /* Couleur de fond */
  color: white; /* Couleur du texte */
  padding: 15px 32px; /* Padding */
  text-align: center; /* Alignement du texte */
  text-decoration: none; /* Pas de soulignement */
  display: inline-block; /* Type d'affichage */
  font-size: 16px; /* Taille de la police */
  margin: 4px 2px; /* Marge autour du bouton */
  cursor: pointer; /* Curseur en forme de main */
  border: none; /* Pas de bordure */
  border-radius: 5px; /* Bordures arrondies */
  position: fixed;
  left: 40%;

}