/* CSS ajusté pour les éléments select */

.tableZebre {
    width: 100%; /* Pleine largeur */
    border-collapse: collapse; /* Fusionner les bordures */
  }
  
  .colAndRow {
    text-align: left; /* Aligner le texte à gauche */
    padding: 8px; /* Ajouter du padding */
  }
  
  .thHeader {
    background-color: #f0f0f0; /* Arrière-plan gris clair pour les en-têtes */
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9; /* Alternance de couleurs pour les lignes */
  }
  
  /* Style pour les éléments select */
  .selectTable {
    border: 1px solid #ccc; /* Bordure gris clair */
    padding: 4px; /* Léger padding */
    background-color: white; /* Arrière-plan blanc */
    width: 30%; /* Largeur à 100% pour remplir la cellule */
    box-sizing: border-box; /* La largeur inclut le padding et la bordure */
  }
  